@import "base.css";

#top_img {
	position: relative;

}

#main_img {
	border-top: 15px solid #2e3192;
	border-bottom: 15px solid #2e3192;
	width: 1000px;
}

.flexslider {
	width: 1000px;
	height: 410px;
	background: none !important;
	position: absolute !important;
	top: 15px;
	left: 0;
}

li.second, li.first {
	display: none;
}

#catchcopy {
	width: 1000px;
	height: 410px;
}

#btn_menu ul li {
	width: 182px;
	float: left;
	margin: 0 9px;
}

#btn_menu ul li a {
	display: inline-block;
	width: 182px;
	height: 81px;
}

#btn_menu ul li img {
	width: 182px;
	height: 81px;
}

#btn_menu ul li p {
	font-size: 10px;
}

#btn_menu ul li .more {
	font-size: 14px;
	color: #29aae3;
}
#aka {
	width: 50%;
}
#ao {
	width: 50%;
	float: right;
}
input {
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  margin-top: 30px;
}
#rogin {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#reset_2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* --------------------------------------------- */


h2 {
    text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px -6px #00000073;
}

table tr {
  background-color: #fff;
}

table th,
table td {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

table  th {
  width: 20%;
  padding: 10px 0;
  font-size: 14px;
  padding: 15px;
  background-color: #FFC107;
  color:#fff;
}

table tr{
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color:#3a3a3a;
}

table tr:hover{
  background-color: #d4faff;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

form {
  width: 300px;

  text-align: center;
}

#yoko {
  display:flex;
}

.top-btn {
  
}
